*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}






nav
{
    display:flex;
    gap:40px;
    justify-content: flex-end;
    margin-top:73px;
    margin-right: 140px;
}

nav a
{
    text-decoration:none;
    color:#707070;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25.5px;
}
nav form
{
    margin-top: 25.5px;
}
.search
{
    font-size:20px;
    cursor:pointer; 
}
img
{
    display: block;
    margin-top: 80px;
    padding-left: 140px;
    padding-right: 140px;

     max-width: 100%;
    height: auto;
}
