*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
nav
{
    display:flex;
    gap:40px;
    justify-content: flex-end;
    margin-top:73px;
    margin-right: 140px;
}

nav a
{
    text-decoration:none;
    color:#707070;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25.5px;
}
nav form
{
    margin-top: 25.5px;
}
.search
{
    font-size:20px;
    cursor:pointer; 
}

img
{
    display: block;
    margin-top: 80px;
    padding-left: 140px;
    padding-right: 140px;
    max-width: 100%;
    height: auto;
    
}
.wrapper
{
    display: flex;
    gap: 20px;
}
.box
{
   flex: 1; 
}


h2
{
    color:#777;
    margin-bottom:35px;
    margin-top:53px;
    padding-left: 140px;

}
.man
{ 
    display: flex;
    gap: 30px;
    padding-left: 140px;
    max-width: 483px;
    height: 150px;

}
.card
{   display: block;  
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    font-size: 14px;
    margin-left: 140px;
  h3
  {
    margin-top: 15px;
    margin-bottom: 12px;
    color: #777;
  }
  p
  {
    color: #777;
  }
  a
  {
    color: #777;
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-right: 10px;
  }
}

.man1
{ 
    display: flex;
    gap: 30px;
    padding-left: 140px;
    max-width: 483px;
    height: 150px;

}

.boy
{
    display: flex;
    gap: 30px;
    padding-left: 140px;
    max-width: 483px;
    height: 150px;

}
